@font-face {
  font-family: 'ZT Nature';
  src: url('../public/ZTNature-Regular.woff2') format('woff2');
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 11px;
  --color-text: #b0b0b0;
  --color-bg: #0e0e0e;
  --color-link: #9f9f9f;
  --color-link-hover: #fff;
  --page-padding: 1.5rem;
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: 'ZT Nature', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  display: none;
}

@media (scripting: enabled) {
  .loading {
    &::before,
    &::after {
      content: '';
      position: fixed;
      z-index: 10000;
    }

    &::before {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--color-bg);
    }

    &::after {
      top: 50%;
      left: 50%;
      width: 100px;
      height: 1px;
      margin: 0 0 0 -50px;
      background: var(--color-link);
      animation: loaderAnim 1.5s ease-in-out infinite alternate forwards;
    }
  }
}

@keyframes loaderAnim {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 50%;
  }

  50% {
    transform: scaleX(1);
    transform-origin: 0% 50%;
  }

  50.1% {
    transform: scaleX(1);
    transform-origin: 100% 50%;
  }

  100% {
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: var(--color-link-hover);
  }

  &:focus {
    outline: none;
    background: lightgrey;

    &:not(:focus-visible) {
      background: transparent;
    }

    &:focus-visible {
      outline: 2px solid red;
      background: transparent;
    }
  }
}

.frame {
  padding: 3rem var(--page-padding) 0;
  display: grid;
  z-index: 1000;
  position: relative;
  align-items: center;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  pointer-events: none;
  justify-items: start;
  grid-template-columns: auto auto auto 1fr;
  grid-template-areas:
    'title title title title'
    'back archive github ...'
    'demos demos demos ...'
    'nav nav nav nav'
    'sponsor sponsor sponsor sponsor';

  #cdawrap {
    justify-self: start;
    grid-area: sponsor;
  }

  a,
  button {
    pointer-events: auto;
  }

  .frame__title {
    grid-area: title;
    font-size: inherit;
    margin: 0;
  }

  .frame__back {
    grid-area: back;
    justify-self: start;
  }

  .frame__archive {
    grid-area: archive;
    justify-self: start;
  }

  .frame__github {
    grid-area: github;
  }

  .frame__demos {
    grid-area: demos;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .button {
    border: 1px solid #4c4c4c;
    padding: 0.5rem 1rem;
    border-radius: 2em;
  }

  a.button:hover,
  a.button:focus,
  .button.selected {
    border-color: #5c5c5c;
    text-decoration: none;
    color: #fff;
  }

  @media screen and (min-width: 53em) {
    padding: var(--page-padding);
    grid-template-columns: auto auto auto auto 1fr;
    grid-template-rows: auto auto;
    align-content: space-between;
    grid-template-areas:
      'title back github archive nav'
      'demos demos demos demos demos'
      'sponsor sponsor sponsor sponsor sponsor';

    #cdawrap {
      justify-self: end;
      text-align: right;
      max-width: 300px;
      position: fixed;
      bottom: var(--page-padding);
      right: var(--page-padding);
    }
  }
}

.content {
  padding: calc(var(--page-padding) * 2) var(--page-padding);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  min-height: 100vh;
}
